@model IEnumerable<Shizuku.Models.CMemberWrap>

@{
    ViewData["Title"] = "List";
}

<h1>會員清單</h1>

<p>
    <a asp-action="Create">新增客戶</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FMemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FLoginTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            @foreach (var item in Model)
            {

                <tr>
                    @if(item.FIsActive==true)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.FMemberId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FLoginTime)
                        </td>
                        <td>
                            @Html.ActionLink("修改", "Edit", "Member", new { id = @item.FId }, null) |
                            @Html.ActionLink("刪除", "Delete", "Member", new { id = @item.FId },
                            new { onclick = "return confirm('確定要刪除嗎?')" })
            </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
